.top_green{
    width: 100%;
    height: 15vh;
    background-color: #009688;
}

.content{
    min-width: 100%;
    height: 100%;
    background-color: #eaeaea;
}

.card_principale{
    margin-top: -10vh;
    min-width: 1000px;
    height: 90vh;
}

.icon_profilo{
    width: 45px;
}

.color_white{
    background-color: #f8f8f8;
}

.margin_negative{
    margin: 0 -12px 0 -12px;
}

/* parte sinistra */

.left_chat{
    border-right: 1px solid #d3d3d3;
    height: 100%;
}

.profile{
    width: 100%;
    height: 65px;
}

.color_icon{
    color: #b1b1b1;
}

.notifications{
    height: 70px;
    background-color: #8edafc;
}

.bell{
    color: #8edafc;
    background-color: #fff;
    width: 50px;
    height: 50px;
}

.scritte_bell{
    line-height: 0.5;
}

.color_a{
    color: #838383;
}

.list_people_chat{
    height: calc(100% - 185px);
    overflow-y: scroll;
}

.card_people:hover{
    background-color: #dcdcdc;
}

.icon_profilo1{
    width: 55px;
}